// cta

//- properties: [ name, guid, class, variant: [ flat, outline ], color ]
//- color is required.
//- false variant = default button.

include ../../components/rawHtml/_rawHtml.pug

mixin cta(args)
	if args.guid
		.
			{% cta "#{args.name}" label="#{args.name}" guid="#{args.guid ? args.guid : 'f45a304e-b763-4049-bff9-b08abe1db12a'}" extra_classes="hs_ancestor btn-#{(args.variant ? args.variant + '-' : '') + (args.color ? args.color : '')}#{args.class ? ' ' + args.class : null} text-uppercase" %}
	else
		button.btn.text-uppercase( class="btn-" + (args.variant ? args.variant + '-' : '' ) + (args.color ? args.color + ' ' : '') + (args.class ? ' ' + args.class : '') )
			+rawHtml ({
				name: 'label_' + args.name,
				value: args.label ? args.label : 'Button Label'
			})