// Testimonials

include ../../../components/_carousel-2.pug

//
  .mx-5.py-5.border-bottom
    .block-fluid.row.no-gutters.justify-content-around.align-items-center.h-lgx3.bg-white.w-100.overflow-hidden
      - var carouselNumber = '3'
      +carousel-2('8_1')

mixin testimonial(index)
  .position-relative.m-4( style='width: fit-content')
    .d-flex.flex-column.w-lg.bg-white.position-relative.shadow.p-5.h-lgx2( style='min-height: 18rem' )
      .w-lg.my-auto
        p.mb-0.
          {% raw_html "Carousel_Testimonial_Body_#{index}" label="Carousel_Testimonial_Body_#{index}", value='{{ paragraph_var }}' %}
      .d-flex.flex-column.mb-5
        p.w-lg.text-primary.font-weight-bold.mb-0.
          {% raw_html "Carousel_Testimonial_Name_#{index}" label="Carousel_Testimonial_Name_#{index}", value='John Smith' %}
        p.w-lg.font-italic.mb-0.
          {% raw_html "Carousel_Testimonial_Career_#{index}" label="Carousel_Testimonial_Career_#{index}", value='Lumber Jack for Canada' %}

    // Portrait Thumbnail
      .position-relative.b-5.d-flex.justify-content-center.w-100
        .bg-primary.img-clip-circle.shadow-lg(style='height:7rem; width: 7rem;')
          | {% set class = "h-100 w-auto scale-125" %}
          | {% module "Carousel_Testimonial_Image_#{index}" path='/_eflex/components/image' extra_classes='h-100' %}
          .position-absolute.t-0.h-100.blend-hue-white

    .position-absolute.t-n3.ml-4
      .h-xs.
        {% set class = "h-100 w-auto" %}
        {% module "Carousel_Testimonial_Quotations" path='/_eflex/components/image' extra_classes='h-100' %}

.d-flex.justify-content-center.flex-lg-row.flex-column.align-items-center.mx-5.py-5.border-bottom
  +testimonial('1')
  +testimonial('2')