include ../../../components/features/_feature-9.pug

.d-flex.flex-column.align-items-center.my-5.p-lg-5.m-lg-5
    h3.w-half.text-lg-center.mb-3.
        {% raw_html "Heading_#{index}" label="Heading_#{index}", value="{{ heading_var }}" %}
    p.w-half.text-lg-center.mb-5.
        {% raw_html "Subheading_#{index}" label="Subheading_#{index}", value="{{ paragraph_var }}" %}

    mixin feature-collapse(index)
        .w-half.m-2
            p.w-100.mb-0
                a.btn.btn-lg.btn-outline-gray-200.text-gray-500.text-left.w-100.d-flex.align-items-center( data-toggle='collapse' href='#collapse-'+index role='button' aria-expanded='false' aria-controls='collapse-'+index)
                    span.icon.icon-xl.mr-4(class!='{% text \"Feature_' + index + '_Icon\", value="icon-cobot", no_wrapper=True %}')
                    | {% raw_html "Collapse_Label_#{index}" label="Collapse_Label_#{index}", value="{{ heading_var }}" extra_classes="" %}
                    span.icon.icon-arrow-down-sm.icon-lg.ml-auto
            .row
                .col
                    .collapse.multi-collapse( id='collapse-'+index )
                        p.p-3.mt-2.mb-4.
                            {% raw_html "Collapse_Content_#{index}" label="Collapse_Content_#{index}", value="{{ paragraph_var }}" %}
    
    .d-flex.flex-lg-row.flex-column.mx-lg-auto
        .d-flex.flex-column
            +feature-collapse('5_1')
            +feature-collapse('5_2')
            +feature-collapse('5_3')
            +feature-collapse('5_4')
            +feature-collapse('5_5')
            +feature-collapse('5_6')
        .d-flex.flex-column
            +feature-collapse('5_7')
            +feature-collapse('5_8')
            +feature-collapse('5_9')
            +feature-collapse('5_10')
            +feature-collapse('5_11')
            +feature-collapse('5_12')
