//- Components
//- Layout - 1

include ../images/_image-half.pug
mixin layout-1(index)
  .d-flex.justify-content-center.align-items-center.flex-lg-row.flex-column
    .mr-3
      +image-half(index)
    .d-flex.flex-column.w-lg-half.m-5.m-lg-0.p-lg-5
      h3.w-100.text-lg-left.text-center.pb-4.
        {% raw_html "Title_#{index}" value="{{ heading_var }}" %}
      h5.w-100.text-lg-left.text-center.mb-4.
        {% raw_html "Heading_#{index}" value="{{ heading_var }}" %}
      p.w-100.text-lg-left.text-center.
        {% raw_html "Body_#{index}" value="{{ body_var }}" %}
      .w-100.mx-auto.mx-lg-0
        .w-lg-lg.my-3.
          {% cta "cta_#{index}" label='cta_#{index}' guid='#{guid}' %}
