// Style Guide
// Tab 1 - Styles

// Forms
.d-flex.form-responsive.p-5
  // Form
  .d-flex.flex-column.justify-content-center.form.w-100.vh-100.max-w-unset.w-lg-half.bg-white.content-box.position-relative
      | {% form "Form_1" form_to_use='1d1f4499-edd6-4085-8972-75c142ef3722', title='Lorem Ipsum', extra_classes='pb-5' %}

// Colors
.d-flex.flex-column.m-5
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Heading 1
    h1 {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Heading 2
    h2 {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Heading 3
    h3 {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Heading 4
    h4 {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Heading 5
    h5 {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Heading 6
    h6 {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Paragraph
    p {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  .d-flex.flex-column.m-2
    p.font-italic.m-0 Small
    small {% raw_html "Block_#{block}_Feature_#{index}_Text" value='{{ heading_var }}' %}
  
// Icons
mixin icon(icon)
  .d-flex.flex-column.align-items-center.my-2.mx-4
    p.font-italic.text-center.w-sm #{icon}
    .icon-xl( class='icon-'+icon )

.d-flex.flex-column.m-5
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('andon')
      +icon('ar')
      +icon('arrow-down-sm')
      +icon('arrow-down')
    .d-flex.justify-content-center.mb-5
      +icon('arrow-left-sm')
      +icon('arrow-left')
      +icon('arrow-right-sm')
      +icon('arrow-right')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('arrow-up-sm')
      +icon('arrow-up')
      +icon('button')
      +icon('camera')
    .d-flex.justify-content-center.mb-5
      +icon('caution')
      +icon('check-circle')
      +icon('check-outline')
      +icon('check-sm')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('check')
      +icon('checkbox')
      +icon('checkbox-checked')
      +icon('cobot')
    .d-flex.justify-content-center.mb-5
      +icon('cobot2')
      +icon('collect')
      +icon('control')
      +icon('cost')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('cycletime')
      +icon('down-time')
      +icon('edit-sm')
      +icon('edit')
    .d-flex.justify-content-center.mb-5
      +icon('ellipsis')
      +icon('exit')
      +icon('expand')
      +icon('facebook')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('file')
      +icon('filter')
      +icon('flexible')
      +icon('foot-print')
    .d-flex.justify-content-center.mb-5
      +icon('gauge')
      +icon('gear')
      +icon('hamburger')
      +icon('home')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('image')
      +icon('indicators')
      +icon('infinity')
      +icon('instructions')
    .d-flex.justify-content-center.mb-5
      +icon('learn')
      +icon('link')
      +icon('linkedin')
      +icon('list')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('lock')
      +icon('mail')
      +icon('minus-sm')
      +icon('minus')
    .d-flex.justify-content-center.mb-5
      +icon('pick-light')
      +icon('plc')
      +icon('plus-sm')
      +icon('plus')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('print')
      +icon('process-data')
      +icon('production')
      +icon('qr-code')
    .d-flex.justify-content-center.mb-5
      +icon('quality')
      +icon('report')
      +icon('save')
      +icon('scanner')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('screen-full')
      +icon('screen-window')
      +icon('search-sm')
      +icon('shield')
    .d-flex.justify-content-center.mb-5
      +icon('shift')
      +icon('sigma')
      +icon('sn-transfer')
      +icon('sn')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('star-sm')
      +icon('star')
      +icon('station')
      +icon('summary')
    .d-flex.justify-content-center.mb-5
      +icon('target')
      +icon('time-over')
      +icon('time-x')
      +icon('time')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('timer')
      +icon('toggle')
      +icon('tools')
      +icon('torque')
    .d-flex.justify-content-center.mb-5
      +icon('trace')
      +icon('traceability')
      +icon('tree')
      +icon('twitter')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('user')
      +icon('x-sm')
      +icon('x')
      +icon('youtube')
  .d-flex.flex-wrap.justify-content-center
    .d-flex.justify-content-center.mb-5
      +icon('mobile')
      +icon('wifi')

.d-flex.flex-lg-row.flex-column.flex-wrap.m-5
  mixin color-swatch(semantic_name)
    .d-flex.flex-column.m-2
      p.font-italic.mb-2.text-capitalize= semantic_name
      .res-sm.rounded( class='bg-' + semantic_name)
  
  +color-swatch('brand')
  +color-swatch('primary')
  +color-swatch('white')
  +color-swatch('gray-light')
  +color-swatch('gray')
  +color-swatch('gray-dark')
  +color-swatch('black')
  +color-swatch('info')
  +color-swatch('success')
  +color-swatch('danger')
  +color-swatch('secondary')
  +color-swatch('warning')
  
.d-flex.flex-lg-row.flex-column.flex-wrap.m-5
  +color-swatch('red')
  +color-swatch('orange')
  +color-swatch('yellow')
  +color-swatch('teal')
  +color-swatch('green')
  +color-swatch('cyan')
  +color-swatch('blue')
  +color-swatch('purple')

.d-flex.flex-lg-row.flex-column.flex-wrap.m-5
  +color-swatch('red-dark')
  +color-swatch('orange-dark')
  +color-swatch('yellow-dark')
  +color-swatch('teal-dark')
  +color-swatch('green-dark')
  +color-swatch('cyan-dark')
  +color-swatch('blue-dark')
  +color-swatch('purple-dark')