//- Components
//- Layout 8

include ../images/_image-half.pug
include ../layouts/_layout-5.pug

mixin layout-8(index)
    .d-flex.flex-column.mt-5
        .d-flex.flex-lg-row.flex-column.w-100.overflow-hidden

            // Mixin (Change Positions Responsively)
            mixin text(index)
                .d-flex.flex-column.justify-content-center.w-half.p-5.d-none.d-lg-block
                    h5.w-100.mb-4.
                        {% raw_html "Heading_#{index}", label="Heading_#{index}", value="{{ heading_var }}" %}
                    p.w-100.
                        {% raw_html "Body_#{index}", label="Body_#{index}", value="{{ paragraph_var }}" %}
                    .w-100.mx-auto.mx-lg-0
                        .w-lg.my-3.
                            {% cta "learn_More_CTA_#{index}" label='Learn_More_CTA_#{index}' guid='#{guid}' %}
                
            // < d-lg
            .d-block.d-lg-none.mx-auto
                +text(index)

            // Image
            .w-50.img-clip.position-relative.align-self-lg-end.min-w-xxl.
                {% set class = "w-100 h-auto position-relative b-0" %}
                {% module "Image_#{index}", label="Image_#{index}", path='/_eflex/components/image' %}
                
            // > d-lg
            .d-none.d-lg-block.mr-lg-auto.ml-lg-5
                +text(index)
