//- platform.pug
extends ../../templates/_template.pug

append script
	//- Lottie Player CDN
	script( src="https://unpkg.com/@lottiefiles/lottie-player@0.2.0/dist/lottie-player.js" )
	script( src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js" )

	script( type='text/javascript' )
		include ./script.js

block content
	//- Components being used.
	include ../../components/rawHtml/_rawHtml.pug
	include ../../components/cta/_cta.pug
	include ../../components/image/_image.pug
	include ../../components/video/_video.pug

	.bg-white
		.container.g-0
			.row.g-0
				.col-6
					.d-flex.justify-content-center.align-items-center.w-100( style='min-height: 50rem' )
						lottie-player.p-5(
							mode='normal'
							autoplay
							loop
							src="https://f.hubspotusercontent00.net/hubfs/8439350/Images/lottie_platformDataFlow.json"
							background='white'
							style={ width: "1000px" }
						)
					
				.col-6
					//- Masthead
					.d-flex.align-items-center.py-5( style='min-height: 50rem' )
						.p-3.p-lg-5
							h1.display-lg-1.text-uppercase.mb-4
								+rawHtml ({
									name: 'h1_masthead',
									value: 'Bridge the Manufacturing Data Gap.',
								})

							h4.text-uppercase.fw-bolder.mb-4
								+rawHtml ({
									name: 'h2_masthead',
									value: 'Manufacturing\'s Integrated IoT Platform',
								})

							p.mb-5
								+rawHtml ({
									name: 'p_masthead',
									value: 'It\’s powered by eFlex\’s Manufacturing Integrated Platform – or MIP for short.  Built from the ground up to address the manufacturing data gap, MIP provides a connected, collaborative, data-driven environment for real-time visibility and insight.',
								})

							.row
								.col-auto
									+cta ({
										name: 'cta_masthead',
										guid: 'f8b9429a-a9bd-4e34-a063-f573f8ecbf2d',
										color: 'primary'
									})

								.col-auto
									+cta ({
										name: 'cta_video',
										id: 'mip_cta1',
										label: 'Watch Video',
										variant: 'outline',
										color: 'black'
									})

	//- Interactive Infographic
	.container-fluid.g-0
		.row.g-0
			//- Left Side
			#lottieContainer.col-6.bg-gray-700
				//- Fixed Content
				.position-sticky.w-100( style='pointer-events: none; top: 0' )
					.row
						.vh-100
							.p-3.p-lg-5.h-100
								.d-flex.justify-content-center.align-items-center.h-100
									lottie-player#lottie.p-5(
										mode='normal'
										src="https://f.hubspotusercontent00.net/hubfs/8439350/Images/lottie_platformFull.json"
										style={ width: "1527px", height: "auto" }
										renderer: 'svg'
									)

			//- Right Side
			.col-6.bg-white
				.d-flex.flex-column
					
					//- Simplified
					.pt-5.bg-gray-700
						.p-3.p-lg-5
							h4.text-uppercase.fw-bolder.text-white.mb-4
								+rawHtml ({
									name: 'h1_simplified',
									value: 'Intelligent Data Flows.',
									class: 'text-white'
								})

							h1.display-lg-1.text-uppercase.text-white.mb-4
								+rawHtml ({
									name: 'h2_simplified',
									value: 'Simplified Digital Transformation with MIP',
									class: 'text-white'
								})

							p.text-white
								+rawHtml ({
									name: 'p1_simplified',
									value: 'While the cost of traditional layers on the plant floor can be extremely expensive and labor intense – from hardware and integration costs to programming and data analysis needs, MIP provides significant cost savings and reduces the need for separate layers on the the plant floor – PLCs, HMIs, SCADA and MES/MOM systems.',
									class: 'text-white'
								})
							
							p.text-white
								+rawHtml ({
									name: 'p2_simplified',
									value: 'One application environment with one common navigation and flow from the control of I/O at the sensor level to advanced analytics reporting. Connectivity and direct control covering a wide range of PLCs, sensors, applications and virtually any data source. Intelligent data collection and flow from the shop floor to the top floor for business intelligence and a competitive advantage.',
									class: 'text-white'
								})
					
					//- Competetive Advantage
					.pt-5.bg-gray-700
						.p-3.p-lg-5
							.mb-5
								h4.text-uppercase.fw-bolder.text-white.mb-4
									+rawHtml ({
										name: 'h1_advantage',
										value: 'Industry 4.0 Goals.',
										class: 'text-white'
									})

								h1.display-lg-1.text-uppercase.text-white.mb-4
									+rawHtml ({
										name: 'h2_advantage',
										value: 'Transitioning to the Digital Era',
										class: 'text-white'
									})
								
								p.text-white
									+rawHtml ({
										name: 'p2_advantage',
										value: 'Other competing products that promise you Industry 4.0 fail to give you flexibility and cohesiveness that we offer. Our product operates as one universal application that expands with additional functionality seamlessly. Transitioning to Industry 4.0 can seem like a lot, but we make it easy.',
										class: 'text-white'
									})
							
							mixin proConFeature(args)
								.row.mb-5
									.col-auto
										i.fas.fa-3x.text-primary-light( class='fa-' + args.icon )
									.col
										h4.text-uppercase.text-primary-light.mb-2
											+rawHtml ({
												name: 'h' + args.index + '_' + args.group,
												value: args.heading ? args.heading : loremipsum_sm,
												class: 'text-primary-light'
											})
										p.text-white
											+rawHtml ({
												name: 'p' + args.index + '_' + args.group,
												value: args.body ? args.body : loremipsum_md,
												class: 'text-white'
											})

							.row.g-5
								.col-12.col-lg-6
									h3.text-uppercase.fw-bolder.text-white.mb-5
										+rawHtml ({
											name: 'h_fail',
											value: 'Why Projects Fail',
											class: 'text-white'
										})
									
									+proConFeature ({
										index: 1,
										heading: 'Missing the problem and data-based objectives up front',
										body: 'If you don\’t know what you\’re trying to solve for your Industry 4.0 goals will become over complicated and lead to inaction.  Start with identifying and solving one problem now and lay a framework to more easily solve future problems.',
										group: 'fail',
										icon: 'times'
									})

									+proConFeature ({
										index: 2,
										heading: 'Not Process Savvy',
										body: 'Misunderstanding the internal manufacturing process. This is key when trying to develop and implement a digital framework.',
										group: 'fail',
										icon: 'times'
									})

									+proConFeature ({
										index: 3,
										heading: 'No Internal Champion',
										body: 'No key person in-house with product and process knowledge to lead the initiative and act as a key support resource to team members. This person embraces change with a strong, measurable impact on your technology\'s adoption and success.',
										group: 'fail',
										icon: 'times'
									})

									+proConFeature ({
										index: 4,
										heading: 'No Management Support',
										body: 'Project being driven from the bottom-up with no upper management support. Not willing to invest the time and resources to deploy and manage the project which can often have a 2-3 year commitment.',
										group: 'fail',
										icon: 'times'
									})

									+proConFeature ({
										index: 5,
										heading: 'Company Culture',
										body: 'Content with the status quo and don’t feel digitalization will make a difference. Not invested in the project or its success.',
										group: 'fail',
										icon: 'times'
									})

									+proConFeature ({
										index: 6,
										heading: 'Not Data Driven',
										body: 'Not utilizing and optimizing data opportunities to drive continuous improvement, measure project objectives and ROI.',
										group: 'fail',
										icon: 'times'
									})

									+proConFeature ({
										index: 7,
										heading: 'Data Silos',
										body: 'Departmental, isolated data silos and teams that prevent a collaborative environment and unified goals. Without a clear view of all relevant data, appropriate decision-making and Industry 4.0 goals are hindered.',
										group: 'fail',
										icon: 'times'
									})

								.col-12.col-lg-6.mx-lg-auto
									h3.text-uppercase.fw-bolder.text-white.mb-5
										+rawHtml ({
											name: 'h_succeed',
											value: 'Why Projects Succeed',
											class: 'text-white'
										})
									
									+proConFeature ({
										index: 1,
										heading: 'Manufacturing Expertise',
										body: 'We get manufacturing! Our team has grown from the factory floor up, with engineering and process management backgrounds to help solve some of the toughest problems.',
										group: 'succeed',
										icon: 'check'
									})

									+proConFeature ({
										index: 2,
										heading: 'Mission Critical Technology',
										body: 'MIP is developed using innovative, secure, web-based technology with focus on mobile, cloud, big data analytics and mission critical manufacturing operations.',
										group: 'succeed',
										icon: 'check'
									})

									+proConFeature ({
										index: 3,
										heading: 'Simplified Process Control - Even in High Mix Assembly',
										body: 'Flexible configurations and advanced process control. Error proofing and traceability, even in complex manufacturing, has never been easier.',
										group: 'succeed',
										icon: 'check'
									})

									+proConFeature ({
										index: 4,
										heading: 'Plug-n-play Device Connectivity',
										body: 'Connectivity and direct control covering a wide range of PLCs, sensors, applications and virtually any data source.  Plug-n-play, comprehensive solution with no programming or app templates required.',
										group: 'succeed',
										icon: 'check'
									})

									+proConFeature ({
										index: 5,
										heading: 'Scalable',
										body: 'MIP is a scalable Industry 4.0 solution that grows with you when you\’re ready – whether factory-wide or throughout the enterprise globally.',
										group: 'succeed',
										icon: 'check'
									})

									+proConFeature ({
										index: 6,
										heading: 'Data Insight & Business Intelligence',
										body: 'Collect data from people, processes and assets with MIP. Easily turn granular data into real-time visibility and insight of operations for continuous improvement and a competitive advantage.',
										group: 'succeed',
										icon: 'check'
									})

									+proConFeature ({
										index: 7,
										heading: 'Support through the whole process',
										body: 'We want your digitization goals to be a success! Our dedicated support team along with the online eFlex Learning Center will help you every step of the way.',
										group: 'succeed',
										icon: 'check'
									})
								
					mixin feature(args)
						.mb-5
							h4.text-uppercase.text-white.mb-2
								+rawHtml ({
									name: 'h' + args.index + '_' + args.group,
									value: args.heading ? args.heading : loremipsum_xs,
									class: 'text-white'
								})
							p.text-white
								+rawHtml ({
									name: 'p' + args.index + '_' + args.group,
									value: args.body ? args.body : loremipsum_md,
									class: 'text-white'
								})

					//- Configure
					.pt-5.bg-gray-700
						.p-3.p-lg-5
							.mb-5.pb-4
								h1.display-lg-1.text-uppercase.text-white.mb-4
									+rawHtml ({
										name: 'h1_configure',
										value: 'Configure',
										class: 'text-white'
									})

								h3.text-uppercase.fw-bolder.text-white.mb-4
									+rawHtml ({
										name: 'h2_configure',
										value: 'MIP is simple to configure- it\'s all connected.',
										class: 'text-white'
									})

								p.text-white
									+rawHtml ({
										name: 'p1_configure',
										value: 'It’s one integrated platform. It’s all connected so it doesn’t need months to configure. You can be up and running in just a few days. No more complex layers— no more vendors trying to talk to each other across your manufacturing environment. Turn new solutions on instantly. Workflows can be changed iteratively and quickly, as the system learns and reacts.',
										class: 'text-white'
									})
					
					//- Connect
					.pt-5.bg-gray-700
						.p-3.p-lg-5
							.mb-5.pb-4
								h1.display-lg-1.text-uppercase.text-white.mb-4
									+rawHtml ({
										name: 'h1_connect',
										value: 'Connect',
										class: 'text-white'
									})

								h3.text-uppercase.fw-bolder.text-white.mb-4
									+rawHtml ({
										name: 'h2_connect',
										value: 'MIP is easy to connect – no programming needed.',
										class: 'text-white'
									})

								p.text-white
									+rawHtml ({
										name: 'p1_connect',
										value: 'Integrated connectivity, allowing for granular data collection from people, processes and assets.  Digital transformation simplified.',
										class: 'text-white'
									})

							+feature ({
								index: 1,
								heading: 'IoT Devices',
								body: 'Embedded, plug-n-play IoT device connect and instructions make it difficult for operators to make mistakes.  Barcode readers, fasteners, pick lights, gauges, vision systems, printers, cobots, augmented reality systems and more.',
								group: 'connectFeature'
							})

							+feature ({
								index: 2,
								heading: 'PLCs',
								body: 'Plug-n-play PLC connect and process data collection.  Supports open protocols including OPC-UA, Modbus as well as any proprietary connectors such as Siemens and Rockewell.',
								group: 'connectFeature'
							})

							+feature ({
								index: 3,
								heading: 'Sensors, Legacy Equipment or Upper Level Systems',
								body: 'Utilizing APIs or a browser based flow editor, seamlessly connect to sensors, older equipment, ERP systems and much more.',
								group: 'connectFeature'
							})

							+feature ({
								index: 4,
								heading: 'Servers & Installations',
								body: 'Install on a VM or server. Host on-site, in the cloud or a hybrid of the two.  Get maximum deployment, flexibility and secure configurability.',
								group: 'connectFeature'
							})
						
					//- Control
					.pt-5.bg-gray-700
						.p-3.p-lg-5
							.mb-5.pb-4
								h1.display-lg-1.text-uppercase.text-white.mb-4
									+rawHtml ({
										name: 'h1_control',
										value: 'Control',
										class: 'text-white'
									})

								h3.text-uppercase.fw-bolder.text-white.mb-4
									+rawHtml ({
										name: 'h2_control',
										value: 'MIP provides seamless control — error proofing at a new level.',
										class: 'text-white'
									})

								p.text-white
									+rawHtml ({
										name: 'p1_control',
										value: 'Digital work instructions and process control ensure operators always follow the right procedures, use the right tools with the right tolerance levels, at the right time, enforcing quality standards.',
										class: 'text-white'
									})
								
								p.text-white
									+rawHtml ({
										name: 'p2_control',
										value: 'With process data and assembly images (1D and 2D data), get complete traceability and product genealogy to meet compliance requirements and protect against warranty claims.  A digital birth certificate, enabling a genetic-like profile on every product at every stage in the manufacturing process.',
										class: 'text-white'
									})
					
					//- Collect & Improve
					.py-5.bg-gray-700
						.p-3.p-lg-5
							.mb-5
								h1.display-lg-1.text-uppercase.text-white.mb-4
									+rawHtml ({
										name: 'h1_collect',
										value: 'Collect & Improve',
										class: 'text-white'
									})

								h3.text-uppercase.fw-bolder.text-white.mb-4
									+rawHtml ({
										name: 'h2_collect',
										value: 'MIP is data-driven – a new competitive advantage for your operations.',
										class: 'text-white'
									})

								p.text-white
									+rawHtml ({
										name: 'p1_collect',
										value: 'MIP is powered by the MIP Data – providing detailed integrated granular manufacturing process data down to the most basic task level. All in one place.',
										class: 'text-white'
									})
								
								p.text-white
									+rawHtml ({
										name: 'p2_collect',
										value: 'Intelligent MIP Data enables powerful end-to-end people and data collaboration across the enterprise. Everyone from the shop floor to the top floor can see the status of your production line and get real-time actionable insight.  The ability to constantly monitor, adjust and improve the manufacturing process – at the edge and in the cloud.',
										class: 'text-white'
									})

							+feature ({
								index: 1,
								heading: 'Reports & Dashboards',
								body: 'With eFlex Business Intelligence, turn data silos into powerful reports and dashboards. Get actionable insight for every station, line, plant or enterprise wide needs.  With virtually unlimited configurations, monitor key performance indicators (KPIs), historical trends and real-time data that impacts your operations. Easily identify outliers, receive alerts when critical parameters are out of control and continuously improve.',
								group: 'collectFeature'
							})

							mixin featureBullet(args)
								.d-flex.align-items-center.mb-3
									i.fas.fa-circle.text-primary-light.me-2
									p.text-white.mb-0
										+rawHtml ({
												name: 'h' + args.index + '_' + args.group,
												value: args.value,
												class: 'text-white'
											})
							.row.g-5
								.col-12.col-lg-6
									+featureBullet ({
										index: 1,
										value: 'Station Cycle Times'
									})

									+featureBullet ({
										index: 2,
										value: 'Quality Summary'
									})

									+featureBullet ({
										index: 3,
										value: 'Torque Tool Data'
									})
									
									+featureBullet ({
										index: 4,
										value: 'Repair, Rework, Reject Codes'
									})

									+featureBullet ({
										index: 5,
										value: 'Material Usage'
									})

								.col-12.col-lg-6
									+featureBullet ({
										index: 6,
										value: 'Shift Summary'
									})

									+featureBullet ({
										index: 7,
										value: 'OEE & Downtime'
									})

									+featureBullet ({
										index: 8,
										value: 'Genealogy & Part History'
									})

									+featureBullet ({
										index: 9,
										value: 'Line Balance Report'
									})

	//- Video
	.bg-white
		.container.py-3
			.row.align-items-center
				.col-6
					.p-3.p-md-5
						h1.display-1.text-uppercase.mb-2( style='letter-spacing: -.25rem' )
							+rawHtml ({
								name: 'h1_video',
								value: 'What Does a Manufacturing Integrated Platform Do?'
							})

						p.lead-md.mb-0
							+rawHtml ({
								name: 'p1_video',
								class: 'lead-md-md',
								value: 'Great Question. Watch this video now to find out!'
							})
				
				.col-6
					.p-3.p-md-5
						+video ({
							name: 'video',
							id: 'video_mip',
							imgSrc: 'https://f.hubspotusercontent00.net/hubfs/8439350/Images/cta_mipDark.jpg'
						})


	//- Request Demo
	.position-relative
		
		//- Overlay containers without a static height need to have static position on the body/content and a relative position wrapper.

		.responsive-clip-path.w-100.h-100.position-absolute( style='z-index: -1; box-sizing: border-box; pointer-events: none; top: 0' )
			+image ({
				name: 'image_demorequest',
				src: 'https://picsum.photos/900/500'
			})

		.container.py-5
			.row
				.col.col-lg-6
					.p-3.p-lg-5
						h1.display-lg-1.text-uppercase.text-white
							+rawHtml ({
								name: 'h_demorequest',
								value: 'See how eFlex can help your business.',
								class: 'text-white'
							})
					
						p.lead-md.text-white.mb-5
							+rawHtml ({
								name: 'p_demorequest',
								value: 'Digitize standard maintenance procedures and ensure you never miss a step or timeline. Get an online demo and see how easy it is to get started!',
								class: 'lead-md text-white'
							})

						+cta ({
							name: 'cta_demorequest',
							color: 'primary'
						})