include ../../../../components/layouts/_layout-5.pug
include ../../../../components/images/_image-lg.pug

.d-flex.flex-lg-row.flex-column.align-items-start.justify-content-center
  .d-flex.flex-column
    - var index = '1_1'
    .d-flex.flex-column.justify-content-center.w-lg-half.my-5.m-lg-0.mb-lg-4.px-lg-5.pt-lg-5
      p.w-100.
        {% raw_html "Body_#{index}", label="Body_#{index}", value="{{ body_var }}" %}

    - var index = '1_1'
    .res-half.img-clip-rounded.mb-5.mb-lg-0.px-5.
      {% set class = "h-auto w-100 m-auto" %}
      {% module "Image_#{index}" path='/_eflex/components/image' %}

    - var index = '1_3'
    .d-flex.flex-column.justify-content-center.w-lg-half.my-5.m-lg-0.px-lg-5.py-lg-2
      p.w-100.font-italic.
        {% raw_html "Label_#{index}", label="Label_#{index}", value="{{ title_var }}" %}

  - var index = '1_2'
  .d-flex.flex-column.justify-content-center.w-lg-half.my-5.m-lg-0.p-lg-5
    p.w-100.
        {% raw_html "Body_#{index}", label="Body_#{index}", value="{{ body_var }}" %}
      
