//- Components
//- Image Wallpaper 5

include ../images/_image-half.pug
include ../layouts/_layout-5.pug
mixin image-wallpaper-6(index)
  .w-100.position-relative
    // Image
    .w-100.h-100.overflow-hidden.position-absolute.r-0.img-inset-wide.
      {% set class = "position-absolute r-0" %}
      {% module "Wallpaper_#{index}", label="Wallpaper_#{index}", path='/_eflex/components/image' %}
    // Blend Exclusion
    .w-100.h-100.position-absolute.opacity-50
      .blend-exclusion-gray.w-100.h-100
    // Blend Color
    .w-100.h-100.position-absolute
      .blend-color-brand-dark.w-100.h-100
    // Blend Multiply
    .w-100.h-100.position-absolute
      .blend-multiply-brand-dark.w-100.h-100.opacity-85
    // Content
    .w-75.h-100.mx-auto
      .d-flex.justify-content-center.align-items-center.flex-lg-row.flex-column.p-5.p-lg-0
        .text-white.z-index-2
          .d-flex.flex-column.justify-content-center.h-100.my-4.my-lg-0.mx-lg-5
            h5.text-white.font-weight-regular.w-lg.w-100.mb-0.
              {% raw_html "Heading_#{index}", label="Heading_#{index}", value="eFlex Brochure" %}
            h1.w-100( class="text-" + color ).
              {% raw_html "Body_#{index}", label="Body_#{index}", value="PRODUCT" %}
        .text-white.z-index-2
          .d-flex.flex-column.justify-content-center.h-100.m-lg-5
            h3.text-white.w-lg.mb-4.
              {% raw_html "Heading_#{index + 1}", label="Heading_#{index + 1}", value="{{ heading_var }}" %}
            p.w-100.w-lg.
              {% raw_html "Body_#{index + 1}", label="Body_#{index + 1}", value="{{ body_var }}" %}
            .w-lg.my-5.
              {% cta "learn_More_CTA_#{index + 1}", label='Learn_More_CTA_#{index}', guid='#{guid}' %}