//- Components
//- Image Wallpaper 2

mixin image-wallpaper-2(index)
  .w-full.position-relative
    // Wallpaper
    .w-100.h-100.overflow-hidden.position-absolute.r-0.img-inset-wide.
      {% set class = "position-absolute r-0 #{position}" %}
      {% module "Wallpaper_#{index}" path='/_eflex/components/image', style="min-width: 177.77vh" %}
    // Blend Exclusion
    .w-100.h-100.position-absolute.opacity-60
      .blend-exclusion-gray.rounded.w-100.h-100
    // Blend Multiply
    .w-100.h-100.position-absolute
      .blend-multiply-black.rounded.w-100.h-100.opacity-60
    // Content
    .w-100.b-0
      .w-100.d-flex.flex-lg-row.flex-column.justify-content-center.align-items-center
        .mt-5.ml-lg-5( style="height: fit-content" )
          include ../_desktop.pug
          +desktop(index)

        .z-index-1.my-auto
          .d-flex.flex-column.justify-content-center.w-lg-half.m-5.m-lg-0.p-lg-5
            h5.w-100.text-white.mb-4.
              {% raw_html "Heading_#{index}", label="Heading_#{index}", value="{{ heading_var }}" %}
            p.w-100.text-white.
              {% raw_html "Body_#{index}", label="Body_#{index}", value="{{ body_var }}" %}
            .w-100.mx-auto.mx-lg-0
              .w-lg-lg.my-3.
                {% cta "learn_More_CTA_#{index}", label='Learn_More_CTA_#{index}', guid='#{guid}' %}