//- Components
//- Image Wallpaper 3

mixin image-wallpaper-3(index)
  .w-100.position-relative
    // Image
    .w-100.h-100.img-clip.position-absolute.r-0.overflow-hidden.img-inset-wide.
      {% set class = "position-absolute r-0 #{position}" %}
      {% module "Wallpaper_#{index}", label="Wallpaper_Image_#{index}", path='/_eflex/components/image' %}
    // Blend Exclusion
    .w-100.h-100.position-absolute.opacity-50
      .blend-exclusion-gray.w-100.h-100
    // Blend Color
    .w-100.h-100.position-absolute
      .blend-color-brand-dark.w-100.h-100
    // Blend Multiply
    .w-100.h-100.position-absolute
      .blend-multiply-brand-dark.w-100.h-100.opacity-85
    // Content
    .w-100.h-100
      .d-flex.flex-column.align-items-center.h-100
        .flex-fill.d-flex.flex-column.justify-content-center.align-items-center.z-index-2.m-5
          h3.text-center.text-white.text-shadow.mb-4.
            {% raw_html "Wallpaper_Title_#{index}", label="Wallpaper_Title_#{index}", value="{{ heading_var }}" %}
          p.w-half.text-center.text-white.text-shadow.
            {% raw_html "Wallpaper_Body_#{index}", label="Wallpaper_Body_#{index}", value="{{ body-sm_var }}" %}
          .w-lg.my-5.my-lg-0.m-lg-5.
            {% cta "request_demo" label='Primary CTA' guid='78df544c-4f22-4120-aacd-56ee4c84b604' %}