// card

include ./_rawHtml.pug

mixin card(args)
    a.custom-card.d-flex.h-100( href=args.href ? args.href : '#' )
        .card.flex-fill.m-1( class=args.src ? null : 'bg-gray-100' )

            //- Image Background Card
            if args.src
                img.card-img(src=args.src, alt=args.alt ? args.alt : "eFlex Systems")
                .card-img-overlay.p-0
                    .bg-primary.opacity-70.position-absolute.w-100.h-100
                    .d-flex.align-items-center.justify-content-center.position-absolute.w-100.h-100.p-4
                        h6.card-title.text-uppercase.text-center.text-white.mb-0
                            if args.icon
                                i.mr-2( class=args.icon )
                            +rawHtml ({
                                name: 'title_' + args.name,
                                value: args.title ? args.title : 'Card Title'
                            })
                        if args.subTitle
                            h3.card-title.text-center
                                +rawHtml ({
                                    name: 'subTitle_' + args.name,
                                    value: args.subTitle
                                })

                .card-text-overlay.d-flex.align-items-center.p-4
                    p.card-text 
                        +rawHtml ({
                            name: 'textOverlay_' + args.name,
                            value: args.textOverlay ? args.textOverlay : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum viverra arcu porta commodo. Ut viverra diam velit.'
                        })
         
            //- Solid Background Card
            else
                .card-body.d-flex.flex-column.align-items-center.justify-content-center.p-4
                    if args.title
                        h2.card-title.text-uppercase.text-center.mb-0
                            if args.icon
                                i.mr-2( class=args.icon )
                            +rawHtml ({
                                name: 'title_' + args.name,
                                value: args.title ? args.title : 'Card Title'
                            })
                        if args.subTitle
                            h4.card-title.text-center.font-italic.font-weight-light.my-2
                                +rawHtml ({
                                    name: 'subTitle_' + args.name,
                                    value: args.subTitle
                                })

                    if args.text
                        h6.card-text.text-uppercase.text-center.text-primary.mb-0
                            +rawHtml ({
                            name: 'text_' + args.name,
                            value: args.text
                        })
                    
                    //- Card Text Overlay
                    .card-text-overlay.d-flex.align-items-center.p-4
                        +rawHtml ({
                            name: 'textOverlay_' + args.name,
                            value: args.textOverlay ? args.textOverlay : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum viverra arcu porta commodo. Ut viverra diam velit.'
                        })