// Components
// Carousel

// 1. Make sure to specify a carousel id when declaring the component mixin.
// 2. specify that carousel's id in the sass mixin (dev/styles/components/_carousel.sass) and js function (dist/script/script.js).

mixin carousel-2(index)
  #carousel2.carousel.slide.w-lg-75.my-4( data-ride="carousel" data-interval="5000")
    .carousel-inner.d-flex.overflow-visible.w-100.px-3.px-lg-6.mx-auto( role="listbox")
      mixin carousel-item(index)
        mixin carousel-item-internal(index)
          .d-flex.flex-column.w-lg.bg-white.position-relative.shadow-sm.p-5.opacity-0
            .w-lg.mt-3
              p.mb-5.
                {% raw_html "Carousel_Testimonial_Body_#{index}" label="Carousel_Testimonial_Body_#{index}", value='{{ paragraph_var }}' %}
            .d-flex.flex-column.mt-auto.mb-5
              p.w-lg.text-primary.text-center.font-weight-bold.mb-0.
                {% raw_html "Carousel_Testimonial_Name_#{index}" label="Carousel_Testimonial_Name_#{index}", value='John Smith' %}
              p.w-lg.font-italic.text-center.mb-0.
                {% raw_html "Carousel_Testimonial_Career_#{index}" label="Carousel_Testimonial_Career_#{index}", value='Lumber Jack for Canada' %}
            
          .position-relative.d-flex.justify-content-center.w-100.b-5.opacity-0
            .bg-primary.img-clip-circle.shadow-lg(style='height:7rem; width: 7rem;')
              | {% set class = "h-100 w-auto scale-125" %}
              | {% module "Carousel_Testimonial_Image_#{index}" path='/_eflex/components/image' extra_classes='w-100 h-100' %}
              .position-absolute.t-0.w-100.h-100.blend-hue-white
          
          .position-absolute.t-n3.ml-4.opacity-0
            .h-xs.
              {% set class = "h-100 w-auto" %}
              {% module "Carousel_Testimonial_Quotations" path='/_eflex/components/image' extra_classes='w-100 h-100' %}
            

        if active
          .carousel-item.w-lg.m-2.active
            +carousel-item-internal(index)
        else
          .carousel-item.w-lg.m-2
            +carousel-item-internal(index)
              

      - var active = true
      +carousel-item(1)

      - var active = false
      - var n = 2
      while n <= carouselNumber
        +carousel-item(n++)

    a.carousel-control-prev.my-auto( href="#carousel2" role="button" data-slide="prev")
      span.icon-arrow-left-sm.icon-xl.text-gray-dark
      span.sr-only Previous
    a.carousel-control-next.text-faded.my-auto( href="#carousel2" role="button" data-slide="next")
      span.icon-arrow-right-sm.icon-xl.text-gray-dark
      span.sr-only Next