// image
mixin image(args)
    | {% image "#{args.name}" label="#{args.name}", alt="#{args.alt ? args.alt : null}", src="#{args.src}", extra_classes="#{args.class ? 'hs_ancestor ' + args.class : null}" %}