.d-none.d-lg-flex.flex-lg-row.flex-column.align-items-center
  ul.navbar-nav.w-100.mr-lg-3.ml-lg-auto
    mixin nav-item(index)
      if active
        li.nav-item.active.text-nowrap.dropdown.mx-lg-4
          div
            .
              <a class="d-flex nav-link p-4 p-lg-0 dropdown-toggle" id="navBar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              {% if module.nav_item_#{index}_url.open_in_new_tab %}target="_blank"{% endif %}
              {% if module.nav_item_#{index}_url.no_follow %}rel="nofollow"{% endif %}
              >
              {% inline_text field="nav_item_#{index}_text" value="{{ module.nav_item_#{index}_text }}" extra_classes="p text-brand text-uppercase font-weight-bold" %}
              <a class="position-absolute d-none d-lg-block h-100 w-100 t-0" onclick='window.location="{{ module.nav_item_#{index}_url.href }}"' style="cursor: pointer;" </a>
              </a>
            .dropdown-menu.bg-none.p-lg-0( aria-labelledby='navBar')
              .dropdown-bg.bg-white.px-3.pl-3.pl-lg-0.py-lg-5.rounded.shadow
                .
                  {% simple_menu menu_tree="{{ module.ni_#{index}_simple_menu_1 }}" %}
      else
        li.nav-item.text-nowrap.dropdown.mx-lg-4
          div
            .
              <a class="d-flex nav-link p-4 p-lg-0 dropdown-toggle" id="navBar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              {% if module.nav_item_#{index}_url.open_in_new_tab %}target="_blank"{% endif %}
              {% if module.nav_item_#{index}_url.no_follow %}rel="nofollow"{% endif %}
              >
              {% inline_text field="nav_item_#{index}_text" value="{{ module.nav_item_#{index}_text }}" extra_classes="p text-brand text-uppercase font-weight-bold" %}
              <a class="position-absolute d-none d-lg-block h-100 w-100 t-0" onclick='window.location="{{ module.nav_item_#{index}_url.href }}"' style="cursor: pointer;" </a>
              </a>
            .dropdown-menu.bg-none.p-lg-0( aria-labelledby='navBar')
              .dropdown-bg.bg-white.px-3.pl-3.pl-lg-0.py-lg-5.rounded.shadow(data-toggle="collapse")
                .
                  {% simple_menu menu_tree="{{ module.ni_#{index}_simple_menu_1 }}" %}

    - var active = true 
    +nav-item(1)

    - var active = false
    - var n = 2
    while n <= 4
      +nav-item(n++)

  .w-lg-md.m-lg-0.w-100
    | {% cta "free_demo" label='Primary CTA' guid='9de805d8-7399-4436-bf15-7250f18da14d', extra_classes="w-100 text-center" %}