//- _image_parallax.pug

mixin image_parallax(src)
    .parallax-window(
        data-parallax="scroll" 
        data-image-src=src 
        data-speed=speed 
        data-natural-width=naturalWidth 
        data-natural-height=naturalHeight 
        data-position=position 
        data-z-index=zIndex 
        data-bleed=bleed)