//- Components
//- Image Wallpaper 9

mixin image-wallpaper-9(index)
  .w-100.position-relative
    // Image
    .w-100.h-100.img-clip.position-absolute.r-0.overflow-hidden.img-inset-wide.
      {% set class = "position-absolute r-0 #{position}" %}
      {% module "Wallpaper_#{index}", label="Wallpaper_#{index}", path='/_eflex/components/image' %}
    // Blend Exclusion
    .w-100.h-100.position-absolute.opacity-60
      .blend-exclusion-gray.rounded.w-100.h-100
    // Blend Multiply
    .w-100.h-100.position-absolute
      .blend-multiply-black.rounded.w-100.h-100.opacity-60
    // Content
    .w-100.h-100
      .d-flex.flex-column.align-items-center.h-100
        .flex-fill.d-flex.flex-column.justify-content-center.align-items-center.z-index-1.m-5
          h1.text-center.text-shadow.mb-2( class='text-'+color).
            {% raw_html "Wallpaper_Title_#{index}", label="Wallpaper_Title_#{index}", value="{{ heading_var }}" %}
          h5.text-center.text-gray-200.font-weight-light.text-shadow.mb-5.
            {% raw_html "Wallpaper_Body_#{index}", label="Wallpaper_Body_#{index}", value="{{ heading_var }}" %}
          button.btn-icon.m-2.slick-slide( class='video-theater-toggle-'+video )
            .icon.icon-arrow-right-sm.text-white.t-fix