//- global_header.pug 

#global_header.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.row.no-gutters.flex-column.p-0( style="box-shadow: 0px 0px 25px #00274e10;")
  // COVID-19 Banner
  .d-flex.justify-content-center.w-100.bg-orange.z-index-2
    p.text-black.font-weight-semibold.m-2 Among COVID-19 concerns, remote demos are still avaliable.
  .d-flex.justify-content-center.w-100.p-lg-3
    .d-flex.w-100.p-4.p-lg-0
      .logo.d-flex.flex-column.justify-content-center.px-lg-3( onclick='window.location="https://www.eflexsystems.com"')
        | {% image "eFlex_Logo" label='eFlex Systems Logo', alt='eFlex Systems Logo', src='https://cdn2.hubspot.net/hubfs/490686/Logos/eFlexSystems-logo.png', style="width:100%" %}
      button.navbar-toggler.ml-auto( type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse.flex-fill.p-lg-0.mt-auto.mr-lg-6( id="navbarSupportedContent")
      .d-flex.flex-column.ml-lg-auto
        .d-flex.ml-lg-auto.mb-lg-2
          ul.d-flex.flex-lg-row.flex-column.m-4.m-lg-0.pl-0
            mixin nav-link-small(index, margin)
              li.nav-item.text-nowrap.small.h-opacity.mb-1(class=margin)
                .
                  {% if module.nav_link_small_#{index}_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  <a class="header-link p-0 text-gray-dark" style="cursor: pointer"
                  {% if module.nav_link_small_#{index}_link.open_in_new_tab %}target="_blank"{% endif %} href="{{ module.nav_link_small_#{index}_url.href }}"
                  {% if module.nav_link_small_#{index}_link.no_follow %}rel="nofollow"{% endif %}
                  >
                  {% inline_text field="nav_link_small_#{index}_text" value="{{ module.nav_link_small_#{index}_text }}" extra_classes="text-gray-dark" %}
                  </a>

            - var n = 1
            while n <= 2
              +nav-link-small(n++, 'mr-3')
              small.text-gray.mr-3.d-lg-inline-block.d-none |
            .d-flex
              small.header-link.text-gray-dark.mr-2 Call Us:
              a.header-link.text-gray-dark.small.h-opacity.m-0(href='tel:18334633539')
                | 833-463-3539

        include blocks/_navbar-desktop.pug
        include blocks/_navbar-mobile.pug