//- resource-library.pug
extends ../../templates/_template.pug


block script
  script( src="{{ get_public_template_url('/_eflex/script/video.js') }}")

block content

  // Video Blocks - No Display (Sub-Content)
  include tabs/_sub-content.pug
  - var video = 'jem-preview'
  +video-theater-block('4_1')
  - var video = 'demo-assembly-show-2019'
  +video-theater-block('4_2')

  .m-3
    .border-bottom.border-gray-500.w-lg-75.py-5.mx-2.mx-lg-auto
      h3.mb-4.
        {% raw_html "Title_1_1", label="Title_1_1", value='{{ heading_var }}' %}
      p.m-0.
        {% raw_html "Body_1_1", label="Body_1_1", value='{{ title_var }}' %}

    // Mixin Declaration
    mixin resource-tab(index, id)
      if active
        li.nav-item.m-md-4
          a.link.nav-link.p.font-weight-semibold.active.p-0( id=id + '-tab' data-toggle='tab' href='#' + id role='tab' aria-controls=id aria-selected='true' ).
            {% raw_html "Filter_Tab_#{index}_Text", label="Filter_Tab_#{index}_Text", value='{{ heading_var }}' %}
      else
        li.nav-item.m-md-4
          a.link.nav-link.p.font-weight-semibold.p-0( id=id + '-tab' data-toggle='tab' href='#' + id role='tab' aria-controls=id aria-selected='false' ).
            {% raw_html "Filter_Tab_#{index}_Text", label="Filter_Tab_#{index}_Text", value='{{ heading_var }}' %}

    // Mixin Use
    ul.nav.flex-md-row.flex-column.justify-content-center.mx-2.mx-lg-5.py-3( id='resource-library-tabs' role='tablist' )
      - var active = true
      +resource-tab('1_1', 'resource-all')
      - var active = false
      +resource-tab('1_2', 'resource-brochures')
      +resource-tab('1_3', 'resource-ebooks')
      +resource-tab('1_4', 'resource-videos')
      +resource-tab('1_5', 'resource-case-studies')

    // Resource - Mixin Declaration
    mixin resource(index)
      .my-5.mx-auto.mx-lg-0
        .mb-4
          .img-clip.res-lg.mb-5.mb-lg-0.h-scale.slick-slide( onclick!="window.location='{% text \"Resource_" + index + "_Href\", label=\'Resource_" + index + "_Href\', no_wrapper=True %}'" style="cursor: pointer").
            {% set class = "res-lg w-auto min-w-auto mx-auto" %}
            {% module "Image_#{index}", label="Image_#{index}", path='/_eflex/components/image' extra_classes="d-flex" %}
        .res-lg.h-auto.min-h-auto.text-center.text-lg-left.p-2
          h5.font-weight-normal
            a.link( href!='{% text \"Resource_' + index + '_Href\", label=\'Resource_' + index + '_Href\', value="https://www.eflexsystems.com", no_wrapper=True %}' ).
              {% raw_html "Resource_#{index}_Heading", label="Resource_#{index}_Heading", value='{{ title_var }}' %}
          p.font-weight-semibold.text-brand.mb-0.
            {% raw_html "Resource_#{index}_Description", label="Resource_#{index}_Description", value='#{description}' %}

    
    .tab-content.mx-auto.w-lgx3( id='tabContent' )
      .tab-pane.fade.show.active( id='resource-all' role='tabpanel' aria-labelledby='resource-all-tab' )
        .d-flex.flex-wrap
          include tabs/_tab-1.pug
      .tab-pane.fade( id='resource-brochures' role='tabpanel' aria-labelled-by='resource-brochures-tab' )
        .d-flex.flex-wrap
          include tabs/_tab-2.pug
      .tab-pane.fade( id='resource-ebooks' role='tabpanel' aria-labelled-by='resource-ebooks-tab' )
        .d-flex.flex-wrap
          include tabs/_tab-3.pug
      .tab-pane.fade( id='resource-videos' role='tabpanel' aria-labelled-by='resource-videos-tab' )
        .d-flex.flex-wrap
          include tabs/_tab-4.pug
      .tab-pane.fade( id='resource-case-studies' role='tabpanel' aria-labelled-by='resource-case-studies-tab' )
        .d-flex.flex-wrap
          include tabs/_tab-5.pug