// Components
// Carousel

- var clientLogos = ['GM_05', 'GE-Healthcare', 'Snap-on', 'Universal', 'Nissan', 'Gatan', 'Flexngate', 'Faurecia', 'Deublin', 'Mueller']
- var id = 'carouselLogos'

mixin carousel-3(logo, index)
  .carousel.slide.w-75.my-4( data-ride="carousel" data-interval="3000" id=id)
    .carousel-inner.row.justify-content-md-center.w-100.mx-auto( role="listbox")
      mixin client-logo(logo, index)
        if active
          .carousel-item.col-md-2.h-xs.active( style="min-height: 3rem" )
            | {% image "Client_Logo_#{index}", alt='Client_Logo_#{index}', src='https://cdn2.hubspot.net/hubfs/490686/_site2/Images/Graphics/Client%20Logos/Logo_#{logo}.svg', height='100%', style="margin-left: auto; margin-right: auto;" %}
        else
          .carousel-item.col-md-2.h-xs( style="min-height: 3rem" )
            | {% image "Client_Logo_#{index}", alt='Client_Logo_#{index}', src='https://cdn2.hubspot.net/hubfs/490686/_site2/Images/Graphics/Client%20Logos/Logo_#{logo}.svg', height='100%', style="margin-left: auto; margin-right: auto;" %}

      - var active = true
      +client-logo(clientLogos[0], 0)
      - var active = false
      -for (var i = 1; i < clientLogos.length; i++)
        +client-logo(clientLogos[i], i)

    a.carousel-control-prev( href='#'+id role="button" data-slide="prev")
      span.icon-arrow-left-sm.icon-xl.text-white
      span.sr-only Previous
    a.carousel-control-next.text-faded( href='#'+id role="button" data-slide="next")
      span.icon-arrow-right-sm.icon-xl.text-white