//- Components
//- Layout - 2

include _image-half.pug
mixin layout-2(index)
  .d-flex.justify-content-center.align-items-center.flex-lg-row.flex-column
    .d-flex.flex-column.m-5
      h3.text-lg-left.text-center.mb-4.
        {% raw_html "Title_#{index}" value="{{ heading_var }}" %}
      h5.w-half.text-lg-left.text-center.mb-4.
        {% raw_html "Heading_#{index}" value="{{ heading_var }}" %}
      p.w-half.text-lg-left.text-center.
        {% raw_html "Body_#{index}" value="{{ body_var }}" %}
      .w-md.mx-auto.mx-lg-0.my-3.
        {% cta "cta_#{index}" label='cta_#{index}' guid='#{guid}' %}
    +image-half(index)