//- Components
//- Title Solution

mixin title-solution(index)
  include _image-wallpaper-2.pug
  .d-flex.flex-column.justify-content-center.align-items-center.w-100.overflow-hidden
    .w-100.h-half.position-relative
      // Image
      .w-100.h-half.img-clip.position-absolute.overflow-hidden.img-inset-wide.
        {% set class = "w-100 h-auto position-absolute #{position}" %}
        {% module "Wallpaper_#{index}" path='/_eflex/components/image' %}
      // Black Fade
      .h-100.position-absolute( style="width:90%" )
        .black-fade-opaque-x.w-100.h-100
      // Blend Overlay
      .w-100.h-100.position-absolute
        .w-100.h-100.opacity-15( class="blend-overlay-" + color )
      // Content
      .w-100.h-100.position-absolute
        .d-flex.justify-content-center.w-100.h-100
          .d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start.h-100.w-75.ml-n5.ml-lg-0
            h2.text-shadow.w-75( class="text-" + color ).
              {% raw_html "Page_Title" value='{{ heading_var }}' %}
            h5.text-white.text-shadow.font-weight-light.text-lg-nowrap.w-75.mb-5.
              {% raw_html "Page_Subtitle" value='{{ title_var }}' %}
            | {% cta "cta_#{index}" label='Primary CTA' guid='#{guid}' %}
  
  .block-fluid.bg-gray-100
    .d-flex.flex-lg-row.flex-column.justify-content-around.align-items-center
      .w-100.d-flex.flex-lg-row.flex-column.justify-content-center.overflow-hidden.mt-5.mt-lg-0
        .w-half.h-half.overflow-visible.position-relative.mx-auto.mx-lg-0.my-5.my-lg-0.mr-lg-5( style = "max-width: 40rem")
          .position-absolute.h-100.w-100.b-0.mt-5.mt-lg-0
            .position-absolute.w-100.h-50.opacity-25.rounded-circle( class="bg-" + color + "-dark" style="bottom: -0.5rem")
          | {% set class="h-100 w-100 scale-125 position-absolute" %}
          | {% module "Infographic_#{index}" path="/_eflex/components/image" style="top: 3%" %}
        .d-flex.justify-content-center.w-lg-half.ml-xl-6
          .d-flex.flex-column.justify-content-center.align-items-center.mt-5.my-lg-4.p-5.p-lg-0
            h3.text-center.mb-4.
              {% raw_html "Heading_#{index}" value='{{ title_var }}' %}
            p.w-lg-half.text-center.
              {% raw_html "Body_#{index}" value='{{ paragraph_var }}' %}